# Ignore the virtual environment directory
.venv/
.DS_Store

# Ignore the dbt log files
logs/

# Ignore the dbt target directory
target/

# Ignore the keys
keys/*

# Ignore the .user.yml local dbt tracking file
.user.yml
dbt_internal_packages/
